flows_DESKTOP-S0FCG8V.json
[{"id":"fda66a0.9179198","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"efe1ba2d.017cb8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"46da401a.e48b","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"3d82fa0a.fa27e6","type":"mqtt-broker","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"5472e3e.757af1c","type":"ui_tab","name":"Box","icon":"dashboard","disabled":false,"hidden":false},{"id":"cd28731e.d1f64","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e5aa5304.26caa","type":"ui_group","name":"Message","tab":"5472e3e.757af1c","order":1,"disp":true,"width":"6","collapse":false},{"id":"11e45c6c.f91464","type":"face-api-recognise","name":"Howard"},{"id":"c33fbd30.45d79","type":"ui_tab","name":"My Profile","icon":"dashboard","disabled":false,"hidden":false},{"id":"5b33586e.c38a38","type":"ui_group","name":"My Group","tab":"c33fbd30.45d79","order":1,"disp":true,"width":"6","collapse":false},{"id":"ba04a96f.f3b398","type":"ui_tab","name":"Visualization","icon":"dashboard","disabled":false,"hidden":false},{"id":"b27f776a.5fc828","type":"ui_group","name":"Data","tab":"ba04a96f.f3b398","order":2,"disp":true,"width":"6","collapse":false},{"id":"ef67c7c4.c6e478","type":"ui_group","name":"Chart","tab":"ba04a96f.f3b398","order":1,"disp":true,"width":"6","collapse":false},{"id":"89749fb7.87f01","type":"ui_group","name":"Charts","tab":"d7901f40.2659d","order":2,"disp":false,"width":"6"},{"id":"ab397e95.29ebe","type":"ui_group","name":"Inputs","tab":"d7901f40.2659d","order":1,"disp":false,"width":"6"},{"id":"4e7edda4.417004","type":"ui_group","name":"Group 3","tab":"d7901f40.2659d","order":3,"disp":false,"width":"6"},{"id":"d7901f40.2659d","type":"ui_tab","name":"Charts","icon":"dashboard","order":2},{"id":"78352b08.6cfb14","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"4d15d184.c0d2a","type":"ui_group","name":"Temperature","tab":"78352b08.6cfb14","order":1,"disp":true,"width":"6","collapse":false},{"id":"c9d83372.22d61","type":"ui_text","z":"fda66a0.9179198","group":"5b33586e.c38a38","order":1,"width":0,"height":0,"name":"","label":"- Tên: Trần Thiên Phúc","format":"","layout":"row-spread","x":180,"y":160,"wires":[]},{"id":"48c6d3a7.b6097c","type":"ui_text","z":"fda66a0.9179198","group":"5b33586e.c38a38","order":2,"width":0,"height":0,"name":"","label":"- MSSV: 19127245","format":"{{msg.payload}}","layout":"row-spread","x":170,"y":220,"wires":[]},{"id":"51efb6fb.d7ed28","type":"ui_text","z":"fda66a0.9179198","group":"5b33586e.c38a38","order":3,"width":0,"height":0,"name":"","label":"- Lớp: 19CLC10","format":"{{msg.payload}}","layout":"row-spread","x":160,"y":280,"wires":[]},{"id":"cffa7d5a.28d0d","type":"ui_slider","z":"fda66a0.9179198","name":"","label":"Temperature","tooltip":"","group":"b27f776a.5fc828","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"x":150,"y":400,"wires":[["75b32d0b.ec8894"]]},{"id":"4e1a7ab0.7b3224","type":"ui_button","z":"fda66a0.9179198","name":"","group":"b27f776a.5fc828","order":2,"width":0,"height":0,"passthru":false,"label":"INSERT","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":140,"y":460,"wires":[["df7932ea.f0262"]]},{"id":"29b82b05.b31af4","type":"ui_button","z":"fda66a0.9179198","name":"","group":"ef67c7c4.c6e478","order":2,"width":0,"height":0,"passthru":false,"label":"REFRESH","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":150,"y":520,"wires":[["23f385ee.a00b2a"]]},{"id":"23f385ee.a00b2a","type":"http request","z":"fda66a0.9179198","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.thingspeak.com/channels/1461241/fields/1.json?api_key=RK4IH39GONRP4Q11&timezone=Asia/Bangkok&results=20","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":520,"wires":[["ffbb827b.6c78"]]},{"id":"ffbb827b.6c78","type":"json","z":"fda66a0.9179198","name":"","property":"payload","action":"","pretty":false,"x":490,"y":520,"wires":[["b85e93ed.5589"]]},{"id":"f882be02.c603e","type":"http request","z":"fda66a0.9179198","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.thingspeak.com/update?api_key=3MBUHIN837W2GA22&field1={{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":460,"wires":[[]]},{"id":"75b32d0b.ec8894","type":"change","z":"fda66a0.9179198","name":"","rules":[{"t":"set","p":"insert","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":400,"wires":[[]]},{"id":"df7932ea.f0262","type":"change","z":"fda66a0.9179198","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"insert","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":460,"wires":[["f882be02.c603e"]]},{"id":"d2632dad.42fe2","type":"ui_chart","z":"fda66a0.9179198","name":"","group":"ef67c7c4.c6e478","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"1000","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":810,"y":520,"wires":[[]]},{"id":"b85e93ed.5589","type":"change","z":"fda66a0.9179198","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t    {\t        \"series\": [\"A\"],\t        \"labels\": [\"Temperature\"],\t        \"data\": [\t            [payload.{\t                \"x\": $number(x),\t                \"y\": $number(y)\t            }]\t        ]\t    }\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":520,"wires":[["d2632dad.42fe2"]]},{"id":"64d1fb7.3228f04","type":"ui_gauge","z":"efe1ba2d.017cb8","name":"","group":"4d15d184.c0d2a","order":3,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":360,"wires":[]},{"id":"726cf443.3558ec","type":"mqtt in","z":"efe1ba2d.017cb8","name":"","topic":"/19CLC10/19127245/temp","qos":"2","datatype":"auto","broker":"3d82fa0a.fa27e6","nl":false,"rap":true,"rh":0,"x":200,"y":240,"wires":[["3fe11fbb.729ca"]]},{"id":"3fe11fbb.729ca","type":"change","z":"efe1ba2d.017cb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":360,"wires":[["64d1fb7.3228f04","21ee56f7.12340a"]]},{"id":"99a4361.dcc20c8","type":"http request","z":"efe1ba2d.017cb8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://maker.ifttt.com/trigger/pushnotification/with/key/mW_VzBkbiSNWGv7IYVDBQ0B40x16PIihWV2jC9nnIno?&value1={{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":460,"wires":[[]]},{"id":"21ee56f7.12340a","type":"function","z":"efe1ba2d.017cb8","name":"","func":"var payload = msg.payload;\nif (payload > \"80\") {\n   return msg;\n} else {\n   return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":460,"wires":[["99a4361.dcc20c8"]]}]